npm i -D @playwright/test playwright-bdd
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/screenshots/
/.features-gen/
/allure-results/
/.features-gen/features/
/allure-report/